
@{
    ViewData["Title"] = "PollClosed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PollClosed</h2>
<p>
    Voting for this event is finished.
</p>
<p>
    <a asp-action="Index">Back</a>
</p>
