@model int?
@{
        ViewData["Title"] = "AchievementEditorView";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>AchievementEditorView</h2>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <form asp-controller="Administrator" asp-action="EditAchievement" method="post">
                <input type="hidden" value="@Model" name="Id" />
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            Player name: <br />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            Description: <br />
                        </div>
                        <div class="col">
                            <textarea form="data" cols="20" rows="10" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            Points: <br />
                        </div>
                        <div class="col">
                            <input type="number" name="MatchesPlayed" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <input type="submit" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
