@model int?
@{
    ViewData["Title"] = "LeagueEditorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LeagueEditorView</h2>

<div class="container-fluid">
    <div class="row justify-content-center">
        <form asp-controller="Administrator" asp-action="EditLeague" method="post">
            <input type="hidden" value="@Model" name="Id" />
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col">
                        Player name: <br />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Players: <br />
                    </div>
                    <div class="col">
                        <textarea form="data" cols="20" rows="10" name="Players"></textarea>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <input type="submit" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>