
@{
    ViewData["Title"] = "LeagueCreatorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <form asp-controller="Administrator" asp-action="CreateLeague" method="post">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col">
                        League name: <br />
                    </div>
                    <div class="col">
                        <input type="text" id="Name" name="Name" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Players: <br />
                    </div>
                    <div class="col">
                        <input type="text" id="Players" name="Players" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <input type="submit" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>