
@{
    ViewData["Title"] = "PlayersError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PlayersError</h2>
Add players first!
<a class="btn btn-outline-primary btn-lg" href="@Url.Action("Index", "Administrator")">Home</a>
