@model int?
@{
    ViewData["Title"] = "PlayerEditorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PlayerEditorView</h2>

<div class="container-fluid">
    <div class="row justify-content-center">
        <form asp-controller="Administrator" asp-action="EditPlayer" method="post">
            <input type="hidden" value="@Model" name="Id" />
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col">
                        Player name: <br />
                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Elo: <br />
                    </div>
                    <div class="col">
                        <input type="number" name="Elo" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Matches played: <br />
                    </div>
                    <div class="col">
                        <input type="number" name="MatchesPlayed" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Wins: <br />
                    </div>
                    <div class="col">
                        <input type="number" name="Wins" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Losses: <br />
                    </div>
                    <div class="col">
                        <input type="number" name="Losses" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Achievement score: <br />
                    </div>
                    <div class="col">
                        <input type="number" name="AchievementScore" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        Has voted: <br />
                    </div>
                    <div class="col">
                        <input type="text" name="HasVoted" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <input type="submit" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>