@model LeagueManagerWebApp.ViewModels.EventViewModel
@{
    ViewData["Title"] = "StartEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StartEvent</h2>
<form asp-controller="Administrator" asp-action="PrepareMatchup">
    <input type="hidden" asp-for="Event.Id" name="EventId" id="EventId" />
    Winner:
    <select id="Player1" name="Player1">
        @foreach (var elem in Model.Players)
        {
            <option value="@elem.Name">@elem.Name</option>
        }
    </select>
    Loser:
    <select id="Player2" name="Player2">
        @foreach (var elem in Model.Players)
        {
            <option value="@elem.Name">@elem.Name</option>
        }
    </select>
    <input type="submit" />
</form>