@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LeagueManagerWebApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-grid.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-reboot.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-href="/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-primary">
        <a class="navbar-brand" style="color:white" >League Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" id="collapsibleNavbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Strona główna </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Player" asp-action="Index">Twoje statystyki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Achievement" asp-action="Index">Osiągnięcia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="League" asp-action="Index">Wyniki ligi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Event" asp-action="Index">Terminarz i głosowanie</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Administrator" asp-action="Index">Administrator</a>
                    </li>
                }


            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="form-inline">
                           
                    
                    
                        <button type="submit" class="btn btn-link nav-link ">Logout</button>
                    
                            
                </form>
            }
            else
            {
                        
                <a class="nav-item" asp-area="Identity" asp-page="/Account/Login">Login</a>              
            }
            
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - LeagueManagerWebApp</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
