@model LeagueManagerWebApp.Models.PlayerModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PlayerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Elo" class="control-label"></label>
                <input asp-for="Elo" class="form-control" />
                <span asp-validation-for="Elo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AchievementScore" class="control-label"></label>
                <input asp-for="AchievementScore" class="form-control" />
                <span asp-validation-for="AchievementScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wins" class="control-label"></label>
                <input asp-for="Wins" class="form-control" />
                <span asp-validation-for="Wins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Losses" class="control-label"></label>
                <input asp-for="Losses" class="form-control" />
                <span asp-validation-for="Losses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchesPlayed" class="control-label"></label>
                <input asp-for="MatchesPlayed" class="form-control" />
                <span asp-validation-for="MatchesPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
