
@{
    ViewData["Title"] = "NullErrorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<p>There was a problem with your account. Contact your admin for more details (error: NullErrorView)</p>

