@model List<FormatsDescriptionModel>
@{
    ViewData["Title"] = "Formats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        $("#ui-tabs").tabs({
            collapsible: true
        });
    });
</script>
<body>
    <div class="container" style="margin-left: 10%">
        <h2>Formaty</h2>

        <p>
            Na tej stronie wyjaśnione są poszczególne formaty, w jakich mogą być rozgrywane turnieje.
        </p>

        <div id="ui-tabs">
            <ul>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li><a href="#tabs-@i">@Model[i].Name</a></li>
                }
            </ul>
            @for (int i = 0; i < Model.Count; i++)
            {
                <div id="tabs-@i">
                    <p style="font-style: oblique">Liczba kart w talii: @Model[i].DeckSize</p><br />
                    <p style="font-style: oblique">Opis:</p><br />
                    <p>@Model[i].Description</p>
                </div>
            }
        </div>
        <p>
            <a asp-action="Index">Powrót</a>
        </p>
    </div>
</body>