@{
    ViewData["Title"] = "Home Page";
}


<div class="body-content container-fluid">
    <div class="row ">
        <h1>Hello</h1>
    </div>
    <div class="row">
        <p>
            Witam na portalu do zarządzania ligą. Poniżej znajdują się przydatne linki:
        </p>
    </div>
    <div class="row">
        <div class="col">
            <a asp-action="Rules" class="btn-lg btn-outline-primary">Zasady</a>
        </div>
    
    
    <div class="col">
            <a asp-action="Formats" class="btn-lg btn-outline-primary btn-">Formaty</a>
    </div>
    </div>
</div>
