
@{
    ViewData["Title"] = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rules</h2>

<h4>
    Postanowienia ogólne <br/>
</h4>
<p>
    <ol>
        <li>Liga ma na celu dobrą zabawę uczestników, ale też przyzwyczajenie do turniejowego stylu rozgrywania partii,</li>
        <li>W przypadku wszelkich wątpliwości, spory rozstrzygane są przez wszystkich uczestników, nie ma jednogłośnego sędziego,</li>
        <li>Liga rozgrywana jest w formacie standard constructed. Każda talia składa się z minimum 60 kart oraz maksymalnie 15 kart na sideboardzie,</li>
        <li>Liga składa się z kolejek (turniejów). W każdym turnieju rozgrywane są mecze na zasadzie "każdy z każdym", chyba, że liczba uczestników będzie na tyle duża, że zajęłoby to za dużo czasu. Wtedy turniej przeprowadzany jest w formie 4 rund losowanych na podstawie wyników rozgrywek,</li>
        <li>Nagrodą za zwycięstwo w turnieju jest booster z setu wybranego przez zwycięzcę. Booster jest finansowany z funduszu wspólnego na który składają się kazdorazowo uczestnicy ligi,</li>
        <li>Dzień turniejowy został określony większością głosów na wtorek. W wypadku określonych wydarzeń, dzień turniejowy ulega zmianie na inny, wybrany większością głosów,</li>
        <li>Mecze rozgrywane sa do dwóch wygranych partii. W przypadku wyjątkowo długich partii, po 50 minutach następuje terminacja na standardowych zasadach,</li>
        <li>Jeśli gracz zapowie swoją nieobecność na turnieju z minimum dniowym wyprzedzeniem, nie sa wyciągane zadne konsekwencje,</li>
        <li>Jeśli gracz nie zapowie swojej nieobecności minimum dzień przed rozpoczęciem turnieju, oraz nie będzie miał odpowiedniego usprawiedliwienia, wyciągane sa konsekwencje konsultowane przez obecnych zawodników na turnieju.</li>
        <li>Format kolejnego spotkania ustalany jest w ciągu 48 godzin od zakończenia poprzedniego przez głosowanie przez stronę.</li>
    </ol>
</p>
<h4>
    Punkty <br/>
</h4>
<p>
    <ol>
        <li>Punktacja prowadzona jest w systemie punktów ELO,</li>
        <li>Każdy gracz rozpozyna z pulą 1600 punktów ELO, i po każdym turnieju ilosć punktów jest zmieniana,</li>
        <li>Zwycięzcą turnieju zostaje osoba, która wygra najwięcej partii w danym turnieju,</li>
        <li>Zwycięzcą ligi zostaje ten, kto ma najwięcej punktów ELO po całej lidze,</li>
        <li>Zwyciązcą osiągnięć zostaje ten, kto ma najwięcej punktów za osiągnięcia po całej lidze,</li>
        <li>Nagrody zostają ustalone po rozegraniu ligi.</li>
    </ol>
</p>
<h4>
    Pozostałe kwestie <br/>
</h4>
<p>
    <ol>
        <li>Administratorem portalu jestem ja, tzn. Mikołaj Żurowski. Wszelkie bugi, błędy, wyjątki, uwagi oraz propozycje proszę zgłaszać na bieżąco.</li>
        <li>Portal będzie wysyłał podsumowania i przypomnienia mailowe tylko i wyłącznie osobom, które dały mi na to jasne pozwolenie na Facebooku lub w inny, niewerbalny sposób</li>
        
    </ol>
</p>
<p>
    <a asp-action="Index">Powrót</a>
</p>
